@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 415px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

html {
  height: auto;
  /* background: linear-gradient(#000c2d, #00195e); */
  background: #000c2d;
}

body {
  overflow-x: hidden;
  /* 	overflow-y: hidden; */
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#000c2d), to(#00195e));
  background: linear-gradient(#000c2d, #00195e);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 40vh;
  position: relative;
}

@media screen and (max-width: 415px) {
  body {
    width: auto;
    height: 100%;
    overflow-x: hidden;
    padding-right: 10vw;
    margin: 0vw;
  }
}

body .navBar {
  height: 12vh;
  width: 100vw;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navBar #logo {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0 0 0 3rem;
  padding: 0;
  color: #ffffff;
  text-decoration: none;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navBar #logo #imgTop {
  visibility: hidden;
  opacity: 0;
  z-index: 99;
}

@media screen and (max-width: 415px) {
  body .navBar #logo #imgTop {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  body .navBar #logo #imgBot {
    display: none;
  }
}

body .navBar #logo #mImgTop {
  display: none;
}

@media screen and (max-width: 415px) {
  body .navBar #logo #mImgTop {
    display: unset;
    margin-top: 4vw;
  }
}

body .navBar #logo #mImgBot {
  display: none;
}

@media screen and (max-width: 415px) {
  body .navBar #logo #mImgBot {
    display: unset;
    margin-top: 4vw;
  }
}

body .navBar #logo img {
  margin: 1vw 0 0 0;
  height: 6rem;
  width: auto;
  position: absolute;
  -webkit-transition: visibility .2s, opacity 0.2s linear;
  transition: visibility .2s, opacity 0.2s linear;
}

body .navBar #logo:hover #imgTop {
  visibility: unset;
  opacity: 1;
}

@media screen and (max-width: 415px) {
  body .navBar #logo:hover #imgTop {
    display: none;
    margin-top: 4vw;
  }
}

body .navBar #logo:hover #imgBot {
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 415px) {
  body .navBar #logo:hover #imgBot {
    display: none;
    margin-top: 4vw;
  }
}

body .navBar #logo:hover #mImgTop {
  visibility: unset;
  opacity: 1;
  display: none;
}

@media screen and (max-width: 415px) {
  body .navBar #logo:hover #mImgTop {
    display: unset;
    margin-top: 4vw;
  }
}

body .navBar #logo:hover #mImgBot {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media screen and (max-width: 415px) {
  body .navBar #logo:hover #mImgBot {
    display: unset;
    margin-top: 4vw;
  }
}

body .navBar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 415px) {
  body .navBar .right {
    display: none;
  }
}

body .navBar .right #navList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

body .navBar .right #navList #navListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .navBar .right #navList #navListItem a {
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
  text-decoration: none;
}

body .navBar .right #navList #navListItem a span {
  background-color: #ffffff;
  color: #000c2d;
  font-size: 2rem;
  padding: .5rem 2.5rem .7rem;
  border-radius: .5rem;
}

body .navBar .right #navList #navListItem #github {
  width: 3rem;
  height: 3rem;
}

body .navBar .navigation {
  position: absolute;
  display: none;
}

@media screen and (max-width: 415px) {
  body .navBar .navigation {
    display: unset;
  }
}

body .navBar .navigation #menuToggle {
  display: block;
  position: absolute;
  top: 0px;
  left: 300px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .navBar .navigation #menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body .navBar .navigation #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -28px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  margin: 0;
}

body .navBar .navigation #menuToggle span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body .navBar .navigation #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body .navBar .navigation #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body .navBar .navigation #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: translate(0px, -21px) rotate(45deg);
          transform: translate(0px, -21px) rotate(45deg);
  background: #ffffff;
}

body .navBar .navigation #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: translate(0px, -20px) rotate(0deg) scale(0.2, 0.2);
          transform: translate(0px, -20px) rotate(0deg) scale(0.2, 0.2);
}

body .navBar .navigation #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: translate(0px, -20px) rotate(-45deg);
          transform: translate(0px, -20px) rotate(-45deg);
}

body .navBar .navigation #menuToggle #menu {
  position: absolute;
  width: 330px;
  height: 110vh;
  margin: -100px 0 0 -100px;
  padding: 50px 50px 50px 12px;
  padding-top: 125px;
  background: #232323;
  list-style-type: none;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body .navBar .navigation #menuToggle #menu li {
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

body .navBar .navigation #menuToggle #menu #howToUse {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: #000c2d;
  background-color: #ffffff;
  border-radius: .3rem;
}

body .navBar .navigation #menuToggle input:checked ~ #menu {
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}

body .titles {
  text-align: center;
  margin: 3rem 0 0 0;
  width: 100vw;
}

body .titles #title {
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 415px) {
  body .titles #title {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

body .titles #subTitle {
  width: 80vw;
  margin-left: 10vw;
  margin-top: 1.5rem;
  font-size: 2rem;
}

@media screen and (max-width: 415px) {
  body .titles #subTitle {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

body .titles #subTitle span {
  font-weight: 900;
  font-size: 2rem;
}

body .converter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

body .converter form {
  margin: 3rem auto;
}

body .converter form .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 415px) {
  body .converter form .formContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .converter form .formContainer .inputGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3vw;
}

body .converter form .formContainer .inputGroup label {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}

body .converter form .formContainer .inputGroup input {
  color: #002792;
  width: 20vw;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 5vw 0 0;
  background-color: #fff;
}

@media screen and (max-width: 415px) {
  body .converter form .formContainer .inputGroup input {
    width: 80vw;
  }
}

body .converter form .formContainer .inputGroup input:focus {
  outline: none;
}

body .converter form .formContainer .inputGroup select {
  color: #002792;
  width: 5vw;
  font-size: 2rem;
  font-weight: 700;
  background-color: #fff;
}

@media screen and (max-width: 415px) {
  body .converter form .formContainer .inputGroup select {
    width: 80vw;
  }
}

body .converter form .formContainer .inputGroup select:focus {
  outline: none;
}

body .converter form .formContainer .inputGroup select option {
  color: #002792;
  font-size: 2rem;
  font-weight: 700;
  background-color: #fff;
}

body .converter form button {
  margin: 2rem auto auto auto;
  color: #002792;
  background-color: #fff;
  width: 10vw;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width: 415px) {
  body .converter form button {
    width: 80vw;
  }
}

body .converter form button:hover {
  color: #fff;
  background-color: #002792;
}

body .converter form button:focus {
  outline: none;
}

body .converter .result {
  margin: 3rem auto;
}

body .converter .result h1 {
  font-size: 4rem;
  text-align: center;
}

body .converter .result b {
  font-size: 2.5rem;
}

body .converter .result .results {
  text-align: center;
  font-size: 2.5rem;
}
/*# sourceMappingURL=converter.css.map */