@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #ffffff;
  font-family: Montserrat;
}

body {
  background-color: #fff;
  overflow: hidden;
}

body nav {
  position: absolute;
}

body nav #menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body nav #menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body nav #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

body nav #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

body nav #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

body nav #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff;
}

body nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

body nav #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0px, -1px);
          transform: rotate(-45deg) translate(0px, -1px);
}

body nav #menuToggle #menu {
  position: absolute;
  width: 200px;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #232323;
  list-style-type: none;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

body nav #menuToggle #menu li {
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

body nav #menuToggle #menu #howToUse {
  padding: 10px 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: #000c2d;
  background-color: #ffffff;
  border-radius: .3rem;
}

body nav #menuToggle input:checked ~ #menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body #filterMenuBtn {
  position: absolute;
  right: 0;
  margin-right: 3vw;
  margin-top: 6vh;
  background-color: #fff;
  color: #002792;
  border: none;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  border-radius: 5px;
  z-index: 99;
}

@media screen and (max-width: 415px) {
  body #filterMenuBtn {
    margin-top: 2vw;
  }
}

body #filterMenuBtn:hover {
  color: #fff;
  background-color: #002792;
}

body #filterMenuBtn:focus {
  outline: none;
}

body .maskBox {
  background-color: #002792;
  height: 90vh;
  width: 24vw;
  margin-left: 76vw;
  padding: 0;
  padding-top: 14vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

@media screen and (max-width: 415px) {
  body .maskBox {
    width: 80vw;
    margin-left: 20vw;
  }
}

body .maskBox .dropbtn {
  background-color: #0032bd;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-weight: 600;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  border-radius: 5px;
}

@media screen and (max-width: 415px) {
  body .maskBox .dropbtn {
    margin-left: 2.5rem;
  }
}

body .maskBox .dropbtn:hover {
  background-color: white;
  color: #002792;
  outline: none;
}

body .maskBox .dropbtn:focus {
  outline: none;
}

body .maskBox .dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 7.6vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

body .maskBox .dropdown-content {
  display: none;
  position: absolute;
  margin-top: 48px;
  width: 15vw;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 80;
  padding: 0;
  text-align: center;
  margin-left: -3vw;
}

body .maskBox .dropdown-content a {
  color: black;
  padding: 0.8vw 1vw 0.8vw 1vw;
  text-decoration: none;
  display: block;
  margin-left: 0;
  background-color: white;
  color: #002792;
  font-family: Montserrat;
  font-weight: 700;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border: solid 2px #fff;
}

body .maskBox .dropdown-content a:nth-child(1) {
  border-radius: 8px 8px 0 0;
  border: solid 2px #fff;
  border-bottom: none;
}

body .maskBox .dropdown-content a:nth-child(4) {
  border-radius: 0 0 8px 8px;
  border: solid 2px #fff;
  border-top: none;
}

body .maskBox .dropdown a:hover {
  background-color: #002792;
  color: white;
}

body .maskBox .show {
  display: block;
}

body .maskBox hr.mains {
  border: white solid 1px;
  margin: 0% 15% 0 15%;
}

body .maskBox hr.subs {
  border: #002077 solid 1px;
  margin: 0% 25% 0 25%;
}

body .maskBox .dikeyKutu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .maskBox .dikeyKutu #gBox {
  text-align: center;
  background-color: white;
  width: 40%;
  font-family: Montserrat;
  margin-left: 30%;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  border-radius: 5px;
  color: #002792;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body .maskBox .dikeyKutu #gBox:hover {
  cursor: pointer;
  background-color: #002792;
  color: white;
}

body .maskBox .dikeyKutu #gBox:focus {
  outline: none;
}

body .maskBox .dikeyKutu #gBox:disabled {
  background-color: #bbbbbb;
  color: #002792;
  text-decoration: line-through;
  font-style: italic;
  cursor: default;
}

body .maskBox .dikeyKutu #gBox:disabled:before {
  content: attr(data-text);
  /* here's the magic */
  position: absolute;
  /* vertically center */
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* move to right */
  left: 100%;
  margin-left: 15px;
  /* and add a small left margin */
  /* basic styles */
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  color: #002792;
  text-align: center;
  display: none;
  /* hide by default */
}

body .maskBox .dikeyKutu #gBox:disabled:hover:before {
  display: block;
}

body .maskBox .dikeyKutu #gBox:disabled:before {
  /* reset defaults */
  left: initial;
  margin: initial;
  /* set new values */
  right: 100%;
  margin-right: 15px;
}

body .maskBox .dikeyKutu #gBox:disabled:after {
  content: "";
  position: absolute;
  /* position tooltip correctly */
  left: 100%;
  margin-left: -5px;
  /* vertically center */
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* the arrow */
  border: 10px solid #fff;
  border-color: transparent #fff transparent transparent;
  display: none;
}

body .maskBox .dikeyKutu #gBox:disabled .tooltip:hover:before,
body .maskBox .dikeyKutu #gBox:disabled .tooltip:hover:after {
  display: block;
}

body .maskBox .yatayKutu {
  margin-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .maskBox .yatayKutu .export {
  text-align: center;
  background-color: #0032bd;
  width: 40%;
  font-family: Montserrat;
  margin-left: 2%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body .maskBox .yatayKutu .moreInfo {
  text-align: center;
  background-color: #ffffff;
  width: 40%;
  font-family: Montserrat;
  margin-left: 10%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border-radius: 10px;
  color: #002792;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

body .maskBox .yatayKutu .export:hover,
body .maskBox .yatayKutu .export:focus {
  background-color: white;
  color: #002792;
  outline: none;
}

body .maskBox .yatayKutu .moreInfo:hover,
body .maskBox .yatayKutu .moreInfo:focus {
  background-color: #002792;
  color: #ffffff;
}

body #info {
  position: absolute;
  top: 45px;
  left: 100px;
  z-index: 20;
}

body #info img {
  width: 30px;
  height: 30px;
}

body #observer {
  height: 100vh;
  width: 100vw;
}
/*# sourceMappingURL=iris.css.map */