@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font: Montserrat;
$bgColor: linear-gradient(#000c2d, #00195e);
$color: #ffffff;

* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: $color;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
    background: $bgColor;
    background-size: cover;
    background-repeat: no-repeat;

    .navBar {
        height: 12vh;
        width: 100vw;
        background-color: none; //TODO Bg blur koyualacak
        display: flex;
        justify-content: space-between;
        align-items: center;

        #logo {
            font-size: 3rem;
            font-weight: 800;
            letter-spacing: 1px;
            margin: 0 0 0 3rem;
            padding: 0;
            color: $color;
            text-decoration: none;
            height: 12vh;

            #imgTop {
                visibility: hidden;
                opacity: 0;
                z-index: 99;
            }

            img {

                height: 5rem;
                width: auto;
                position: absolute;
                transition: visibility .2s, opacity 0.2s linear;

            }

            &:hover #imgTop {
                visibility: unset;
                opacity: 1;
            }

            &:hover #imgBot {
                visibility: hidden;
                opacity: 0;
            }
        }

        .right {
            display: flex;
            text-align: center;
            align-items: center;

            #navList {
                list-style: none;
                display: flex;
                align-items: center;
                margin-right: 1rem;

                #navListItem {
                    display: flex;
                    margin-right: 2rem;
                    align-items: center;

                    a {
                        font-weight: 600;
                        font-size: 2rem;
                        color: $color;
                        text-decoration: none;

                        span {
                            background-color: $color;
                            color: #000c2d;
                            font-size: 2rem;
                            padding: .5rem 2rem .7rem;
                            border-radius: .5rem;
                        }
                    }

                    #github {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
        }
    }

    .titles {
        text-align: center;
        margin: .5rem 0 0 0;

        #title {
            font-size: 3rem;
            font-weight: 700;
        }
    }

    .contactContainer {
        width: 100vw;

        .contactUs {
            display: flex;
            flex-direction: column;
            width: 45vw;
            margin-left: 27.5vw;

            .formRow {
                margin-top: 2vw;
            }

            .upper {
                display: flex;
                justify-content: space-between;

                .formInput {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 2rem;
                    }

                    input {
                        font-size: 1.5rem;
                        width: 20vw;
                        color: #000;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .middle {
                display: flex;
                justify-content: space-evenly;

                .formInput {
                    display: flex;
                    flex-direction: column;


                    label {
                        font-size: 2rem;
                    }

                    input {
                        font-size: 1.5rem;
                        width: 45vw;
                        color: #000;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .lower {
                display: flex;
                justify-content: space-evenly;

                .formInput {
                    display: flex;
                    flex-direction: column;


                    label {
                        font-size: 2rem;
                    }

                    textarea {
                        font-size: 1.5rem;
                        width: 45vw;
                        height: 10vw;
                        color: #000;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            #submit {
                color: #000;
                border: none;
                background: $color;
                width: 10vw;
                height: 3vw;
                font-size: 2rem;
                font-weight: 700;
                margin: 2vw 0 0 17.5vw;
                border-radius: .4vw;
                transition: ease .3s;

                &:hover {
                    border-radius: .8vw;
                }

                &:focus {
                    outline: none;
                }
            }

        }
    }
}