@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../mobile sass/mobile.scss";

$font: Montserrat;
$bgColor: linear-gradient(#000c2d, #00195e);
$color: #ffffff;

* {
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: $color;
	text-decoration: none;
}

body {
	overflow-x: hidden;
	/* 	overflow-y: hidden; */
	width: 100%;
	height: auto;
	background: $bgColor;
	background-size: cover;
	background-repeat: no-repeat;

	@include mobileIphone {
		width: auto;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding-right: 10vw;
		margin: 0vw;
	}

	padding-bottom: 7rem;

	.navBar {
		height: 12vh;
		width: 100vw;
		background-color: none; //TODO Bg blur koyualacak
		display: flex;
		justify-content: space-between;
		align-items: center;


		#logo {
			font-size: 3rem;
			font-weight: 800;
			letter-spacing: 1px;
			margin: 0 0 0 3rem;
			padding: 0;
			color: $color;
			text-decoration: none;
			height: 12vh;
			align-items: center;


			#imgTop {
				visibility: hidden;
				opacity: 0;
				z-index: 99;

				@include mobileIphone {
					display: none;
				}
			}

			#imgBot {
				@include mobileIphone {
					display: none;
				}
			}

			#mImgTop {
				display: none;

				@include mobileIphone {
					display: unset;
					margin-top: 4vw;
				}
			}

			#mImgBot {
				display: none;

				@include mobileIphone {
					display: unset;
					margin-top: 4vw;
				}
			}

			img {
				margin: 1vw 0 0 0;
				height: 6rem;
				width: auto;
				position: absolute;
				transition: visibility .2s, opacity 0.2s linear;
			}

			&:hover #imgTop {
				visibility: unset;
				opacity: 1;

				@include mobileIphone {
					display: none;
					margin-top: 4vw;
				}
			}

			&:hover #imgBot {
				visibility: hidden;
				opacity: 0;

				@include mobileIphone {
					display: none;
					margin-top: 4vw;
				}
			}


			&:hover #mImgTop {
				visibility: unset;
				opacity: 1;
				display: none;

				@include mobileIphone {
					display: unset;
					margin-top: 4vw;
				}
			}

			&:hover #mImgBot {
				visibility: hidden;
				opacity: 0;
				display: none;

				@include mobileIphone {
					display: unset;
					margin-top: 4vw;
				}
			}

		}

		.right {
			display: flex;
			text-align: center;
			align-items: center;

			@include mobileIphone {
				display: none;
			}


			#navList {
				list-style: none;
				display: flex;
				align-items: center;
				margin-right: 1rem;

				#navListItem {
					display: flex;
					margin-right: 2.5rem;
					align-items: center;


					a {
						font-weight: 600;
						font-size: 2rem;
						color: $color;
						text-decoration: none;

						span {
							background-color: $color;
							color: #000c2d;
							font-size: 2rem;
							padding: .5rem 2.5rem .7rem;
							border-radius: .5rem;
						}
					}

					#github {
						width: 3rem;
						height: 3rem;
					}
				}
			}
		}
	}

	.titles {
		text-align: center;
		margin: .5rem 0 0 0;
		width: 100vw;

		#title {
			font-size: 3rem;
			font-weight: 700;

			@include mobileIphone {
				font-size: 2.5rem;
				font-weight: 600;
			}
		}

		#subTitle {
			width: 80vw;
			margin-left: 10vw;
			margin-top: 1.5rem;
			font-size: 2rem;

			@include mobileIphone {
				font-size: 1.5rem;
				font-weight: 500;
			}

			span {
				font-weight: 900;
				font-size: 2rem;
			}
		}
	}

	.cardxdContainer {
		margin: 2.5rem 0 0 0;
		display: flex;
		justify-content: space-evenly;

		@include mobileIphone {
			flex-direction: column;
			margin: 5rem 0 0 0;
		}

		.cardxd {
			width: 25vw;
			background: linear-gradient(#08244D, #385C92);
			border-radius: 1rem;
			padding: 1.5rem 1rem 3rem 1rem;
			margin: 0;
			text-align: center;

			@include mobileIphone {
				margin: 3vw 0vw 0vw 10vw;
				width: 80vw;
				height: 150vw;
			}

			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
			}

			img {
				width: 21vw;
				height: 11.8125vw;
				border-radius: 1rem;
				margin: 1vw 0 0 0;

				@include mobileIphone {
					width: 50vw;
					height: 28.125vw;
					border-radius: 1rem;
					margin: 1vw 0 0 0;
				}
			}

			#cardTitle {
				font-size: 2rem;
				margin: 1.5rem 0;

				@include mobileIphone {
					font-size: 3rem;
					margin: 1.5rem 0;
				}
			}

			#desc {
				font-size: 1vw;
				text-align: justify;
				margin: 1.5rem 2rem 2rem 2rem;

				@include mobileIphone {
					font-size: 4vw;
					margin: 1.5rem 0;
				}
			}

			#learnMore {
				background-color: #fff;
				padding: 1rem 1.7rem;
				color: #000000;
				text-decoration: none;
				font-size: 1.6rem;
				border-radius: .6rem;
				transition: ease .3s;
				font-weight: 700;
				margin: auto auto 1rem auto;

				&:hover {
					border-radius: 1rem;
				}
			}
		}
	}
}